<h1>Login</h1>
<div id="mainpage">
<form method="post" id ="mainpagelogin" action="/new-user">
name:<input id="name" type="text" name="name"></input>
password:<input id="password" type="password" name="password"></input>
<button class ="newloginbtn">Sign in</button>
</form>

<br>

<form method="POST" id ="addNew" >
name:<input id="name" type="text" name="name"></input>
<br>
<br>
password:<input id="password" type="password" name="password"></input>
<br>
<br>
Email:<input id="email" type="text" name="email"></input>
<br>
<br>
<input type="submit" id="submitButton" class= "joinbtn" value="Register"></input>
</form>
<br>
<br>

</div>
<div class="peopleimg" >
<img  src="../images/people.jpg" width="750" height="220"/>
</div>
{{user}}