<h1>CONNECT</h1>

<div id="mainpage">


<br>

<form method="POST" id ="addNew1" action="/login">

First name   <input id="firstname" type="text" name="first_name"></input>
<br>
<br>
last name &nbsp<input id="last_name" type="text" name="last_name"></input>
<br>
<br>
password &nbsp<input id="password" type="password" name="password"></input>
<br>
<br>
email &nbsp&nbsp<input id="email" type="text" name="email"></input>
<br>
<br>
image &nbsp<input id="img" type="text" name="image" > </input>
<br>
<input name="image" type="file" id="fileName" accept=".jpg,.jpeg,.png" onchange="validateFileType()"/>
<script type="text/javascript">
    function validateFileType(){
        var fileName = document.getElementById("fileName").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
            //TO DO
        }else{
            alert("Only jpg/jpeg and png files are allowed!");
        }   
    }
</script>
</br>

<br>
<input type="submit" id="submitButton" class= "joinbtn" value="Register"></input>
<input type="submit" id="submitButton" class= "joinbtn" value="Sign In"></input>

</form>
<br>
<br>

</div>

<div class="peopleimg" >
<img  src="../images/people.jpg"  id="image" width="620" height="230"/>
</div>