<h1>wbc Login</h1>
<div id="mainpage">
<form method="post" id ="mainpagelogin" action="/newuser">
name:<input id="name" type="text" name="first_name"></input>
password:<input id="password" type="password" name="password"></input>
<button class ="newloginbtn">Sign in</button>
</form>

<br>

<form method="POST" id ="addNew" action="/login">

first name <input id="firstname" type="text" name="first_name"></input>
<br>
<br>
last name <input id="last_name" type="text" name="last_name"></input>
<br>
<br>
password <input id="password" type="password" name="password"></input>
<br>
<br>
Email <input id="email" type="text" name="email"></input>
<br>
<br>
Image<input id="email" type="text" name="image"></input>
<br>
<br>

<input type="submit" id="submitButton" class= "joinbtn" value="Register"></input>
</form>
<br>
<br>

</div>
<div class="peopleimg" >
<img  src="../images/people.jpg" width="750" height="220"/>
</div>