<h1>wbc Login</h1>

<div id="mainpage">


<br>

<form method="POST" id ="addNew" action="/login">

First name   <input id="firstname" type="text" name="first_name"></input>
<br>
<br>
last name   <input id="last_name" type="text" name="last_name"></input>
<br>
<br>
password   <input id="password" type="password" name="password"></input>
<br>
<br>
email <input id="email" type="text" name="email"></input>
<br>
<br>
image <input id="img" type="text" name="image" > </input>
<br>

</br>

<br>

<input type="submit" id="submitButton" class= "joinbtn" value="Register"></input>
<input type="submit" id="submitButton" class= "joinbtn" value="Sign In"></input>

</form>
<br>
<br>

</div>

<div class="peopleimg" >
<img  src="../images/people.jpg"  id="image" width="750" height="220"/>
</div>