<h1>wbc Login</h1>

<div id="mainpage">


<br>

<form method="POST" id ="addNew" action="/login">

first name   <input id="firstname" type="text" name="first_name"></input>
<br>
<br>
last name   <input id="last_name" type="text" name="last_name"></input>
<br>
<br>
password   <input id="password" type="password" name="password"></input>
<br>
<br>
email <input id="email" type="text" name="email"></input>
<br>
<br>
image<input id="img" type="text" name="image"></input>
<br>
<style>
    /* Image Designing Propoerties */
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style>

<script type="text/javascript">
    /* The uploader form */
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').attr('src', e.target.result);
        $('#yourImage').attr('src', e.target.result);
    };

</script>


<input type='file' />
</br><img id="myImg" src="#" alt="your image" height=200 width=100>
<img id="yourImage" src="#" alt="your image" height=200 width=100>
<br>

<input type="submit" id="submitButton" class= "joinbtn" value="Register"></input>
<input type="submit" id="submitButton" class= "joinbtn" value="Sign In"></input>

</form>
<br>
<br>

</div>

<div class="peopleimg" >
<img  src="../images/people.jpg"  id="image" width="750" height="220"/>
</div>