<!DOCTYPE html>
<html>


<p id="login2">Please login</p>
<br>
<div>
<form method="POST" id ="addNew" action="/newuser" >
name <input id="name" type="text" name="first_name"></input>
<br>
<br>
password <input id="password" type="password" name="password"></input>
<br>
<br>
<input type="submit" id="submitButton" class= "joinbtn" value="Sign in"></input>
</form>
<form method ="POST" >
<br>
<label visibilty="false" id="error">{{message}}</label>
<label >{{user}}</label>
</form>

</div>
<br>
<br>


</html>